.List-box {
    display:flex;
    background-color: #949494;
    border-radius: 6px;
    border-color: rgb(76, 76, 76);
    border-style: solid;
    min-height: 20vh;
    height: auto;
    width: 95%;
    margin-bottom: 2vmin;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    font-size:medium;
}

.Box-title {
    margin-left: 1vw;
    font-size:x-large;
}