.Login {
    text-align: center;
}

.Login-header {
    text-align: center;
    background-color: #8b6c5c;
    min-height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: calc(10px + 2vmin);
    color:white;
    padding-bottom: 28vh;
}

.Title {
    font-size: 5vmin;
}



.login-button {
  justify-content: center;
  background-color:#f5ffd1;
  align-items: center;
  border-radius: 6px;
  min-height: 20px;
  height: 5vmin;
  width: 15vmin;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size:50%;
  cursor: pointer;
}

#signup-prompt {
    margin: 2vh;
    font-size: 2vh;
}
