.Search-list {
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    container-type: flex;
    flex-direction: row;
    background-color: white;
    width: 80%;
    padding: 1%;
    margin: 1%;
    overflow-y: scroll;
    max-height: 20vh;
    min-height: 10vh;
    background-color: #af9576 ;
}

.List-item:hover {
    background-color: gray;
}

.List-item.selected {
    background-color: green;
}