#Taskbar {
    display: flex;
    height: 3.5vh;
    font-size: 2vh;
    padding-top: 0.5vh;
    padding-left: 1vh;
    background-color: #3d251e;
    flex-direction: row;
}

#left {
    text-align: left;
    width: 50vw
}

#right {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
}
.LinkButton {
    color:rgb(255, 255, 255);
    margin-right: 2vw;
}
.LinkButton:hover {
    color: #7c7c7c;;
}
